<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>516698408009-ani46j2l06pcbiba76hplq4q5j0mooh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516698408009-ani46j2l06pcbiba76hplq4q5j0mooh9</string>
	<key>API_KEY</key>
	<string>AIzaSyC-lQLWe03ii8VlkQEG0QzotsusrbPw4s4</string>
	<key>GCM_SENDER_ID</key>
	<string>516698408009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lanka.Lopp</string>
	<key>PROJECT_ID</key>
	<string>lopp-2e6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>lopp-2e6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:516698408009:ios:8e2adde73f9cd647</string>
	<key>DATABASE_URL</key>
	<string>https://lopp-2e6c8.firebaseio.com</string>
</dict>
</plist>